= simple_form_for(@periodo_literario) do |f|
  = f.error_notification

  .form-inputs.fa
  %br
    = f.input :nome
    %br
    = f.input :anoInicio, label:'Ano inicio'
    %br
    = f.input :anoFim, label:'Ano fim'
    %br
    = f.input :descricao, label:'Descrição'
    %br
    

  .form-actions
    = f.button :submit, 'Salvar',:class => "btn btn-info"
