%p#notice= notice

%p
  %b Nome:
  = @periodo_literario.nome
%p
  %b Ano inicio:
  = @periodo_literario.anoInicio
%p
  %b Ano fim:
  = @periodo_literario.anoFim
%p
  %b Descrição:
  = @periodo_literario.descricao

= link_to 'Edit', edit_periodo_literario_path(@periodo_literario),:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', periodo_literarios_path,:class => 'btn btn-warning btn-sm'
