= simple_form_for(@museu_local) do |f|
  = f.error_notification

  .form-inputs.fa
  %br
    = f.input :nome 
    %br
    = f.input :endereco, label: 'Endereço'
    %br
    = f.input :horario, label: 'Horário'
    %br
    %br
  .form-actions
    = f.button :submit, 'Salvar',:class => "btn btn-info"
