%p#notice= notice

%p
  %b Nome:
  = @exposicao.nome
%p
  %b País Origem:
  = @exposicao.paisOrigem

= link_to 'Edit', edit_exposicao_path(@exposicao),:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', exposicoes_path,:class => 'btn btn-warning btn-sm'
