= simple_form_for(@peca) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :ano
    = f.input :descricao
    = f.association :exposicao, label_method: :nome
    = f.association :autor, label_method: :nome
    = f.association :tipoPeca, label_method: :descricao
    = f.association :periodoLiterario, label_method: :nome

  .form-actions
    = f.button :submit, 'Salvar'