%h1.fa.fa-cloud.fa-3x Peças

%table.table.table-striped.table-bordered.table-hover
  %tr
    %th{:width => "90"} Nome
    %th{:width => "90"} Ano
    %th{:width => "110"} Descrição
    %th{:width => "110"} Exposição
    %th{:width => "90"} Autor
    %th{:width => "110"} Tipo de Peça
    %th{:width => "130"} Período Literário
    %th{:width => "15"}
    %th{:width => "15"}
    %th{:width => "15"}

  - @pecas.each do |peca|
    %tr
      %td= peca.nome
      %td= peca.ano
      %td= peca.descricao
      %td= peca.exposicao.nome
      %td= peca.autor.nome
      %td= peca.tipoPeca.descricao
      %td= peca.periodoLiterario.nome
      %td= link_to 'Show', peca,:class => 'btn btn-warning btn-sm'
      %td= link_to 'Edit', edit_peca_path(peca),:class => 'btn btn-warning btn-sm'
      %td= link_to 'Excluir', peca, :method => :delete, :data => { :confirm => 'Are you sure?' },:class => 'btn btn-warning btn-sm'

%br

= link_to 'New Peca', new_peca_path,:class => "btn btn-info"
