%p#notice= notice

%p
  %b Nome:
  = @peca.nome
%p
  %b Ano:
  = @peca.ano
%p
  %b Descrição:
  = @peca.descricao
%p
  %b Exposição:
  = @peca.exposicao.nome
%p
  %b Autor:
  = @peca.autor.nome
%p
  %b Tipo de Peça:
  = @peca.tipoPeca.descricao
%p
  %b Período Literário:
  = @peca.periodoLiterario.nome

= link_to 'Edit', edit_peca_path(@peca),:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', pecas_path,:class => 'btn btn-warning btn-sm'
