%p#notice= notice

%p
  %b Preço:
  = @entrada.preco
%p
  %b Ingresso:
  = @entrada.ingresso.tipo
%p
  %b Museu:
  = @entrada.museuLocal.nome

= link_to 'Edit', edit_entrada_path(@entrada),:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', entradas_path,:class => 'btn btn-warning btn-sm'
