%p#notice= notice

%p
  %b Data inicio:
  = @periodo_exposicao.data_inicio
%p
  %b Data fim:
  = @periodo_exposicao.data_fim
%p
  %b Museu:
  = @periodo_exposicao.museuLocal.nome
%p
  %b Exposição:
  = @periodo_exposicao.exposicao.nome

= link_to 'Edit', edit_periodo_exposicao_path(@periodo_exposicao),:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', periodo_exposicoes_path,:class => 'btn btn-warning btn-sm'
